@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #000;
  color: white;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background:
    radial-gradient(
      circle at top center,
      rgba(0,255,255,.08),
      transparent 50%
    );
  pointer-events: none;
  z-index: -1;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}
@keyframes loading {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}